{% extends 'base.html' %}
<!-- Need Data dict -->
{% block content %}
    <!-- Lists Links content -->
    <div class="bootstrap_datatables">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-10 mx-auto">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-5 bg-white rounded">
                            <div class="table-responsive">
                                <table id="example" style="width: 100%" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Catégories</th>
                                            <th>Links</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for k, v in catdata.items() %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ v }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </br>
                                <table id="example" style="width: 100%" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sub-Catégories</th>
                                            <th>Links</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for k, v in subdata.items() %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ v }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}