{% extends 'base.html' %}

{% block content %}
    <!-- Home content -->
    <div class="container">
        <div class="text-center">
        </br>
            <h1>YggNode</h1>
            <p class="lead">Fetch Rss from YggTorrent</p>
            <p>v2.0.1</p>
        </div>
        <div>
          <h2 id="usage-de-l-api-yggnode">Usage de l&#39;api yggnode</h2>
          <p>
            <strong
              >Serveur de synchronisation des flux rss et fichiers .torrent pour
              <code>yggtorrent.li</code></strong
            >
          </p>
          <p>
            Le site étant sous protection cloudflare, le projet a pour but de rétablir
            l&#39;utilisation de ses flux rss :
          </p>
          <ul>
            <li>
              Pour cela il utilise le projet
              <a href="https://github.com/FlareSolverr/FlareSolverr">flarrsolverr</a> afin
              de résoudre le challenge cloudflare et synchroniser régulièrement les flux
              rss et leurs fichiers .torrent associés sur le serveur.
            </li>
            <li>
              Une api est ensuite mise a disposition pour lire les flux et téléfcharger les
              .torrent directement depuis ce serveur.
            </li>
          </ul>
          <h3 id="pour-les-flux-rss">Pour les flux rss</h3>
          <p>
            Exemple :
            <code
              >{{ server }}/rss?id=2139&amp;passkey=Ttw5xQcCbmjHUwC9jCs8fdbrGEnF8yEt</code
            >
          </p>
          <p>Deux arguments sont nécessaires dans l&#39;url :</p>
          <ul>
            <li>
              ID du flux :
              <a href="{{ url_for('getStatus') }}"
                >Liste des flux synchronisés sur ce serveur</a
              >
            </li>
            <li>
              Passkey personnel : vous trouverez votre passkey sur votre compte ygg
              <a href="https://www4.yggtorrent.li/user/account">ici</a>, dans la rubrique
              INFORMATIONS RELATIVES AU TRACKER
            </li>
          </ul>
          <p>
            Pour faciliter l&#39;usage, vous pouvez utiliser le générateur de lien :
            <a href="{{ url_for('generateLinks') }}">LINKS GENERATOR</a>
          </p>
          <ul>
            <li>renseignez votre passkey</li>
            <li>
              Une fois générés, copiez les liens dans votre client torrent ou lecteur de flux.
            </li>
          </ul>
          <h3 id="statistique-des-derni-re-mise-a-jours">
            Statistiques des dernières mises à jour
          </h3>
          <p>
            Sur la page <a href="{{ url_for('getStatus') }}">STATS</a> se trouve, l&#39;heure des dernières
            synchronisations de flux sur le serveur. De temps à autre cloudflare challenge les flux
            avec un captcha, il sera donc impossible de faire la synchronisation,
            c&#39;est en général temporaire. Nous n&#39;avons pour l&#39;instant aucune
            solution a ce problème.
          </p>
          <h4 id="disclaimer">Disclaimer</h4>
          <p>
            <em
              >Ce service est mis en ligne à des fins d&#39;expérimentation. Nous ne sommes en
              aucun cas liés a yggtorrent.li.</em
            >
          </p>
          <p>
            <em
              >Nous vous rappelons que vous devez posséder physiquement l&#39;oeuvre avant
              d&#39;en télécharger une copie numérique destinée a votre usage personel.</em
            >
            <em
              >L&#39;administrateur de ce serveur ne peut donc être tenu responsable des action
              des utilisateurs.</em
            >
            <em
              >Vous ne pouvez donc pas utiliser ce site pour télécharger des fichiers dont
              vous n&#39;auriez pas les droits légaux pour le faire.</em
            >
            <em
              >C&#39;est de votre responsabilité d&#39;adhérer à ces termes et de
              respecter ces règles.</em
            >
          </p>
        </div>
    </div>
{% endblock %}